<div class="bg-calculator h-100 w-100 d-flex justify-content-center align-items-center">
  <div class="calculator-container container border-3 border border-light border-opacity-10 rounded p-3">

    <div class="visor border border-light border-opacity-10 rounded align-items-end text-light">
      <div class="row h-50 m-0 g-1 flex-row-reverse">
        <div class="text-break col-auto">
          <div class="me-1">&nbsp;{{previous}}</div>
        </div>
      </div>
      <div class="row h-50 m-0 g-1 flex-row-reverse">
        <div class="text-break col-auto">
          <div>{{current}}</div>
        </div>
      </div>
    </div>

    <div class="row m-0 g-1 py-3 text-center">

      <div class="col-9">
        <div class="row g-1 h-100">
          <ng-container *ngFor="let number of numbers; index as i; last as isLast">
            <div [ngClass]="isLast ? 'col' : 'col-4'">
              <button (click)="onClickNumber(number)"
                class="calculator-numbers h-100 w-100 border border-light border-opacity-10 rounded text-light">
                {{number}}
              </button>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-3">
        <div class="row g-1 h-100">
          <ng-container *ngFor="let operator of operators">
            <div class="col-12">
              <button class="calculator-operators h-100 w-100 border border-light border-opacity-10 rounded"
                      (click)="onClickOperator(operator)">
                {{operator.display}}
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="row m-0 g-1">
      <div class="col-3">
        <button class="w-100 calculator-operators border border-light border-opacity-10 rounded" (click)="reset()">C</button>
      </div>
      <div class="col-3">
        <button class="w-100 calculator-operators border border-light border-opacity-10 rounded" (click)="reset(false)">CE</button>
      </div>
      <div class="col-6">
        <button class="w-100 calculator-operators border border-light border-opacity-10 rounded" (click)="total()">=</button>
      </div>
    </div>

  </div>
</div>
